<div class="row justify-content-center mb-3">
    <h3>Матриця попарних порівнянь</h3>
</div>

<div class="table-responsive-md mb-3">
    <table class="table table-hover table-light table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Рейтинг навчання</th>
                <th scope="col" *ngFor="let metric of dataService.basicParameters; let i = index">
                    {{ metric | number: '0.0-2' }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coefArray of dataService.fuzzyMatrix; let i = index">
                <th scope="row">{{ dataService.basicParameters[i] | number: '0.0-2' }}</th>
                <td *ngFor="let coef of coefArray">{{ coef | number: '0.0-2' }}</td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <th scope="row">1</th>
                <td *ngFor="let sum of dataService.sums; let i = index">
                    {{ sum | number: '0.0-2' }}
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td *ngFor="let inversedSum of dataService.inversedSums">
                    {{ inversedSum | number: '0.0-2' }}
                </td>
            </tr>
            <tr>
                <th scope="row">M(X)</th>
                <td *ngFor="let expectedValue of dataService.expectedValues">
                    {{ expectedValue | number: '0.0-2' }}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary mr-3" (click)="onPrevious()">
            Назад
        </button>
        <button type="submit" class="btn btn-primary" (click)="onNext()">
            Далі
        </button>
    </div>
</div>