<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
<div class="row justify-content-center">
    <button type="submit" class="btn btn-primary" (click)="onPrevious()">
        Назад
    </button>
</div>