<div class="row justify-content-center">
    <h3 class="mb-2">Виберіть кількість параметрів для рейтингу навчання</h3>
</div>
<div class="row justify-content-center">
    <div class="form-group">
        <select class="form-control" id="selectRowSize" [(ngModel)]="dataService.rowSize">
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option selected>6</option>
        </select>
    </div>
</div>

<div class="row justify-content-center">
    <h3 class="mb-2">Введіть базові параметри</h3>
</div>
<div class="row justify-content-center">
    <input type="number" min="0" max="10000" class="form-control mr-3 mb-2 col-sm" [name]="'element' + i"
        [(ngModel)]="dataService.basicParameters[i]" required
        *ngFor="let element of createEmptyArray(dataService.rowSize); let i = index; trackBy:trackByIdx">
</div>

<div class="row justify-content-center">
    <h3 class="mb-2">Введіть оцінки експертів за шкалою Сааті</h3>
</div>
<div class="row">
    <input type="number" min="1" max="9" class="form-control mr-3 mb-2 col-sm" [name]="'expertMark' + i"
        [(ngModel)]="dataService.SaatiCoefficients[i]" required
        *ngFor="let element of createEmptyArray(dataService.rowSize); let i = index; trackBy:trackByIdx">

</div>
<br>
<div class="row justify-content-center">
    <button type="submit" class="btn btn-primary" (click)="onNext()">
        Далі
    </button>
</div>