<div class="container mt-3">
  <router-outlet></router-outlet>
  <div class="row justify-content-center mt-3">
    <button class="btn btn-primary mr-3" (click)="onRestart()">Рестарт</button>
    <button class="btn btn-primary" (click)="onInfo()">Довідка</button>
  </div>
</div>
